:root {
    --size-app: 800px;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
	border: 0;
    min-height: 100vh;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #000;
    background: #DFE2E6;
    font-size: 16px;
}

#container-app-player {
    background: #DFE2E6;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 
    width: 100%;
    max-width: var(--size-app);
    min-width: 350px;
    */
}


/* Responsividade */ 
@media screen and (max-width: 559px) {
    body {
        color: #f09;
    }    
}
@media screen and (min-width: 560px) and (max-width: 768px) {
    body {
        color: red;
    }    
}
@media screen and (min-width: 769px), print {
    body {
        color: green;
    }
}
@media screen and (min-width: 1024px) {
    body {
        color: blue;
    }
}
@media screen and (min-width: 1216px) {
    body {
        color: yellow;
    }
}