@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

:root {
    --gap: 32px;
    --inner-gap: 16px;
}

.myplayer-app {
    background: #F0F0F0;
    margin: var(--gap);
    border: thin solid #E5E5E5;
    border-radius: var(--inner-gap);
    position: relative;
}

.myplayer-app ul {
    margin: 0;
    padding: 0;
}

.myplayer-app li {
    list-style: none;
}

.myplayer-app a {
    text-decoration: none;
}

.myplayer-app header,
.myplayer-app main,
.myplayer-app footer {
    width: 100%;
}

.myplayer-app header {
    height: calc(400px + var(--gap));
    font-weight: 600;
    color: #F0F0F0;
    position: relative;
    background-color: #151515;
    border-top-left-radius: var(--inner-gap);
    border-top-right-radius: var(--inner-gap);
}

.myplayer-app .album-cover {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: var(--inner-gap);
    border-top-right-radius: var(--inner-gap);
    opacity: 0.5;
    z-index: 1;
}

.myplayer-app .navigation {
    position: relative;
    z-index: 10;
    padding: var(--gap);
}

.myplayer-app .navigation ul {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
}

.myplayer-app .navigation li {
    display: inline-block;
    color: #F0F0F0;
}

.myplayer-app .navigation li a {
    display: block;
    color: #F0F0F0;
    font-size: 1.5rem;
}

.myplayer-app .navigation li a:hover {
    color: #ffffff;
}

.myplayer-app main {
    position: relative;
    top: -96px;
    padding: 64px var(--gap);
    background-color: #ffffff;
    border-radius: 0 96px 96px 96px;
    z-index: 11;
}

.myplayer-app main::before {
    content: " ";
    display: block;
    width: 96px;
    height: 96px;
    position: absolute;
    top: -96px;
    left: 0;
    background: #fff; /* fallback */
	background: linear-gradient(225deg, transparent 96px, #fff 0) top right;
	background-repeat: no-repeat;
	background-image: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 96px, #fff  0px);
}



/* Responsividade */ 
@media screen and (max-width: 559px) {
    :root {
        --gap: 24px;
        --inner-gap: 12px;
    }    
}
@media screen and (min-width: 560px) and (max-width: 768px) {
    body {
        color: red;
    }    
}
@media screen and (min-width: 769px), print {
    body {
        color: green;
    }
}
@media screen and (min-width: 1024px) {
    body {
        color: blue;
    }
}
@media screen and (min-width: 1216px) {
    body {
        color: #151515;
    }
}